
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  scroll-behavior: smooth;
  max-width : 100%;
  /*overflow-x: hidden;*/
}
body::selection{
  color: white;
  background: ;
}


/*scrollbar design*/
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background: ;
  border-radius: 0px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #718093;
}
body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background:   #273c75;
  border: 0px solid #EE5A24;
}
body::-webkit-scrollbar-thumb:hover{
  background: ;
}
/*header code*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  background: #264040;
  height: 60px;
  width: 100%;
  box-shadow: 1px 1px 8px silver;
  z-index: 1;
  transition: top 0.3s;
}
.nav-logo{
  clip-path: circle();
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: -10px;
}
.logo{

  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 33px;
  line-height: 60px;
  padding: 0px 8px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 6px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 0px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: none;
  text-decoration: none;
}
nav ul li a:hover{
 text-direction: none;
  transition: .3s ease;
  color: #b2bec3;

}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.donate{
  padding: 10px;
  background: red;
  border-radius: 25px;
}

@media (max-width: 850px){
  .logo{
    font-size: 30px;
   
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 900px){
  .checkbtn{
    display: block;
  }
  label.logo{
    font-size: 25px;
   
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #080808ab;
    top: 58px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 40px 0;
    line-height: 10px;
  }
  nav ul li a{
    font-size: 20px;
  }
  
  #check:checked ~ ul{
    left: 0;
  }
}

/*bottom to top scrollbar*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#b71540 ;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  box-shadow:  0px 2px 8px #999999;
}
#myBtn:hover {
  background-color: #555;
}
@media (max-width: 900px){
  #myBtn:hover {
  background-color:#b71540;

  }
}

#main-content{
     padding: 25px;
    min-height: 400px;
}
#main-content h2{
    margin: 0 0 10px;
    text-transform: capitalize;
}

#main-content table{
    width: 100%;
    background-color: #555;
    margin: 0 0 20px;
}

#main-content table th{
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
}
#main-content table th:last-child{
    width: 130px;
}
#main-content table td{
    background-color: #fff;
}
#main-content table td img{
    background-color: #fff;
    clip-path: circle();
    width: 80px;
    height: 80px;
}
#main-content table td a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px;
    color: #fff;
    background-color: #e67e22;
    text-decoration: none;
    border-radius: 3px;
}
#main-content table td a:nth-child(2){
    background-color: #e74c3c;
    margin: 0 0 0 5px;
}